* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 10vh;
    width: 100vw;
    border-bottom: 1px blue solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 8vh;
}

.btn {
    height: 7vh;
    width: 20vw;
    font-size: 1rem;
    font-weight: bold;
    background: #4857ff;
    border-radius: 25px;
    border: none;
    color: #fff;
    transition: all ease-in .5s;

}

.btn:hover {
    transition: all ease-in .5s;
    box-shadow: rgba(0, 35, 210, 0.595) 0px 5px 15px;
}

/* .mobile_sec  */
/* , */
.mob_li
 {
    min-height: 60vh;
    width: 90vw;
    border: solid;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    height: 290px;
    width: 200px;
    box-shadow: rgba(61, 65, 87, 0.595) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    /* border: solid red; */
}

.img {

    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img {
    height: 150px;
    width: 198px;


}

.card_contant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.card_h {
    color: blue;
}

.color {
    font-size: 15px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}